.Dashboard {
    text-align: center;
    margin-top: 100px;
    font-family: Arial, sans-serif;
  }
  
  .ButtonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .ActionButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .ActionButton:hover {
    background-color: #0056b3;
  }
  